.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-100);
}

.form {
  width: 500px;
  border-radius: 6px;
  background-color: white;
  padding: 30px 30px;
}

.title {
  color: #333;
  text-align: center;
}
